
<div class="form-group row">
  <label for="@PropertyName" class="col-lg-2 col-form-label">@(Caption ?? PropertyName)</label>
  <div class="col-lg-10 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="@Icon"></i>
      </span>
    </div>
    <input class="form-control" Value="@Value" type="password" id="@PropertyName" name="@PropertyName" @onchange="@OnChanged" @attributes="Attributes" />
    <div class="input-group-append">
      <div class="input-group-text has-error">
        @if (_showValidationMsg) {
          <ValidationMessage For="@ValueExpression" />
        }
      </div>
    </div>
  </div>
</div>

@code {

  [CascadingParameter]
  public EditContext CascadedEditContext { get; set; }

  [Parameter]
  public string PropertyName { get; set; } = "Password";

  [Parameter]
  public string Value { get; set; }

  [Parameter]
  public EventCallback<string> ValueChanged { get; set; }

  [Parameter]
  public string Caption { get; set; } = "Password";

  [Parameter]
  public string Icon { get; set; } = "user-lock";

  [Parameter]
  public Expression<Func<string>> ValueExpression { get; set; }

  [Parameter]
  public Dictionary<string, object> Attributes { get; set; } = new();

  private bool _showValidationMsg = false;

  protected override void OnInitialized() {
    CascadedEditContext.OnValidationStateChanged += EditContext_OnValidationStateChanged;
    base.OnInitialized();
  }

  private void EditContext_OnValidationStateChanged(object sender, ValidationStateChangedEventArgs e) {
    FieldIdentifier identifier = CascadedEditContext.Field(PropertyName);
    _showValidationMsg = CascadedEditContext.GetValidationMessages(identifier).Any();
  }

  private async Task OnChanged(ChangeEventArgs cea) {
    await ValueChanged.InvokeAsync(cea.Value?.ToString() ?? "");
    FieldIdentifier identifier = CascadedEditContext.Field(PropertyName);
    CascadedEditContext.NotifyFieldChanged(identifier);
  }

}