<div style="position: relative">
  <div id="confirmOverlay" style="display: @_displayStyle; position: @_position; z-index: @ZIndex">
    <div id="confirmOverlayContent">
      <div style="margin-bottom: 1rem"><HtmlRaw Html="@Caption" /></div>
      <button type="button" class="btn btn-secondary" @onclick="@(() => ButtonClicked(false))" disabled=@_disabled>@NoText</button> <button type="button" class="btn btn-primary" @onclick="@(() => ButtonClicked(true))" disabled=@_disabled><i class="@_busyIcon"></i>@YesText</button>
    </div>
  </div>

  @ChildContent
</div>

@code {

  [Parameter]
  public PopUpDisplayOptions PopUpDisplayOption { get; set; } = PopUpDisplayOptions.Container;

  [Parameter]
  public string Caption { get; set; } = "Are you sure?";

  [Parameter]
  public string YesText { get; set; } = "Yes";

  [Parameter]
  public string NoText { get; set; } = "No";

  [Parameter]
  public int ZIndex { get; set; } = 2147483647;

  [Parameter]
  public string SpinnerClass { get; set; } = "spinner-border spinner-border-sm";

  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public EventCallback<bool> OnClicked { get; set; }

  private string _displayStyle = "none";
  private string _position;
  private bool _disabled;
  private bool _closeOnClick;
  private string _busyIcon;

  protected override void OnParametersSet() =>
    _position = PopUpDisplayOption == PopUpDisplayOptions.Container ? "absolute" : "fixed";

  public void Display(string caption = "", bool closeOnClick = true) {
    if (!string.IsNullOrWhiteSpace(caption)) {
      Caption = caption;
    }
    _closeOnClick = closeOnClick;
    _displayStyle = "block";
  }

  private void ButtonClicked(bool yes) {
    if (!yes || _closeOnClick) {
      _displayStyle = "none";
    } else {
      _disabled = true;
      _busyIcon = SpinnerClass + " mr-1";
    }
    OnClicked.InvokeAsync(yes);
  }

  public void Close() {
    _displayStyle = "none";
    _disabled = false;
    _busyIcon = "";
  }

}