@using System.Linq.Expressions

<div class="form-group row">
  <label for="@PropertyName" class="col-lg-2 col-form-label">@(Caption ?? PropertyName)</label>
  <div class="col-lg-10 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="@Icon"></i>
      </span>
    </div>
    <TelerikTimePicker Id="@PropertyName"
                       Value="@Value"
                       ValueExpression="@(() => Value)"
                       Format="HH:mm"
                       Class="@_css"
                       ValueChanged="@(async (DateTime d) => await OnChanged(d))" />
    <div class="input-group-append">
      <div class="input-group-text has-error">
        @if (_showValidationMsg) {
          <ValidationMessage For="@ValueExpression" />
        }
      </div>
    </div>
  </div>
</div>

@code {

  [CascadingParameter]
  public EditContext CascadedEditContext { get; set; }

  [Parameter]
  public string PropertyName { get; set; }

  [Parameter]
  public DateTime Value { get; set; }

  [Parameter]
  public EventCallback<DateTime> ValueChanged { get; set; }

  [Parameter]
  public string Caption { get; set; }

  [Parameter]
  public string Icon { get; set; }

  [Parameter]
  public bool ShowTime { get; set; }

  [Parameter]
  public Expression<Func<DateTime>> ValueExpression { get; set; }

  private bool _showValidationMsg = false;
  private string _css =>
    "form-control " + _invalid;
  private string _invalid = "";

  protected override void OnInitialized() {
    CascadedEditContext.OnValidationStateChanged += EditContext_OnValidationStateChanged;
    base.OnInitialized();
  }

  private void EditContext_OnValidationStateChanged(object sender, ValidationStateChangedEventArgs e) {
    FieldIdentifier identifier = CascadedEditContext.Field(PropertyName);
    _showValidationMsg = CascadedEditContext.GetValidationMessages(identifier).Any();
    _invalid = _showValidationMsg ? "invalid" : "";
  }

  async Task OnChanged(DateTime cea) {
    Value = cea;
    await ValueChanged.InvokeAsync(Value);
    FieldIdentifier identifier = CascadedEditContext.Field(PropertyName);
    CascadedEditContext.NotifyFieldChanged(identifier);
  }

}